---
title: Pork Bowl Con
---

<div class="col s12">
	<h1>Pork Bowl Con</h1>
	<p>Welcome to Pork Bowl Con! A nerd convention with a hearty attitude!</p>
</div>

{% for news in site.data.news %}
	{% capture mod %}{{ forloop.index | modulo:3 }}{% endcapture %}
	{% if mod == '1' %}
	<div class="row">
	{% endif %}
		<div class="col s12 m4">
			<div class="card-panel">
				<img src="{{ news.image }}" />
				<h4 class="media-heading">{{ news.title }} {{ mod }}</h4>
				{% for para in news.paragraphs %}
				<p>{{ para }}</p>
				{% endfor %}
			</div>
		</div>
	{% if mod == '0' %}
	</div>
	{% endif %}
{% endfor %}