<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Pork Bowl Con. Where the Where the hearty and savory meet in glorious combat!">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>{{ page.title }}</title>

<link type="image/png" rel="apple-touch-icon" href="/Pork-Bowl-Con/img/icon/57x57.png"  />
<link type="image/png" rel="apple-touch-icon" href="/Pork-Bowl-Con/img/icon/76x76.png" sizes="76x76" />
<link type="image/png" rel="apple-touch-icon" href="/Pork-Bowl-Con/img/icon/120x120.png" sizes="120x120" />
<link type="image/png" rel="apple-touch-icon" href="/Pork-Bowl-Con/img/icon/152x152.png" sizes="152x152" />
<link type="image/png" rel="apple-touch-icon" href="/Pork-Bowl-Con/img/icon/180x180.png" sizes="180x180" />
<link type="image/png" rel="icon" href="/Pork-Bowl-Con/img/icon/192x192.png" sizes="192x192" />
<link type="image/png" rel="icon" href="/Pork-Bowl-Con/img/icon/128x128.png" sizes="128x128" />

<link type="text/css" rel="stylesheet" href="/Pork-Bowl-Con/css/normalize.css">
<link type="text/css" rel="stylesheet" href="/Pork-Bowl-Con/css/vendor/materialize.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="/Pork-Bowl-Con/css/main.css">

<script type="text/javascript" src="/Pork-Bowl-Con/js/vendor/modernizr-2.8.3.min.js"></script>