<header>
	<a href="/">
		<img id="header-image" class="responsive-img" src="/img/banner.png" />
	</a>
</header>

<nav id="main-nav">
	<div class="nav-wrapper">
		<ul class="left hide-on-med-and-down">
			<li><a id="register-online-button" class="btn waves-effect waves-light" href="/registration.html">Register Online</a></li>
			<li>
				<a class="dropdown-button" href="#" data-activates="info-dropdown">Info<i class="material-icons right">arrow_drop_down</i></a>
				<ul id="info-dropdown" class="dropdown-content">
					<li><a href="/about.html">About</a></li>
					<li><a href="/location.html">Location</a></li>
					<li><a href="/hotels.html">Hotels</a></li>
					<li><a href="/policies.html">Policies</a></li>
				</ul>
			</li>
			<li>
				<a class="dropdown-button" href="#" data-activates="guests-dropdown">Guests<i class="material-icons right">arrow_drop_down</i></a>
				<ul id="guests-dropdown" class="dropdown-content">
					<li><a href="/guests/chicken-cutlet.html">Chicken Cutlet</a></li>
					<li><a href="/guests/lettuce.html">Lettuce</a></li>
					<li><a href="/guests/soup-bowl.html">Soup Bowl</a></li>
				</ul>
			</li>
			<li><a href="/events.html">Events</a></li>
			<li><a href="/contact.html">Contact</a></li>
		</ul>
	</div>
</nav>