<header>
	<a href="/Pork-Bowl-Con">
		<img id="header-image" class="responsive-img" src="/Pork-Bowl-Con/img/banner.png" />
	</a>
</header>

<nav id="main-nav">
	<div class="nav-wrapper">
		<a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
		
		<ul class="left hide-on-med-and-down">
			<li><a id="btn-register-online-desktop" class="btn waves-effect waves-light" href="/Pork-Bowl-Con/registration.html">Register Online</a></li>
			<li>
				<a class="dropdown-button" href="#" data-activates="info-dropdown-desktop">Info<i class="material-icons right">arrow_drop_down</i></a>
				<ul id="info-dropdown-desktop" class="dropdown-content">
					<li><a href="/Pork-Bowl-Con/about.html">About</a></li>
					<li><a href="/Pork-Bowl-Con/location.html">Location</a></li>
					<li><a href="/Pork-Bowl-Con/hotels.html">Hotels</a></li>
					<li><a href="/Pork-Bowl-Con/policies.html">Policies</a></li>
				</ul>
			</li>
			<li>
				<a class="dropdown-button" href="#" data-activates="guests-dropdown-desktop">Guests<i class="material-icons right">arrow_drop_down</i></a>
				<ul id="guests-dropdown-desktop" class="dropdown-content">
					<li><a href="/Pork-Bowl-Con/guests/chicken-cutlet.html">Chicken Cutlet</a></li>
					<li><a href="/Pork-Bowl-Con/guests/lettuce.html">Lettuce</a></li>
					<li><a href="/Pork-Bowl-Con/guests/soup-bowl.html">Soup Bowl</a></li>
				</ul>
			</li>
			<li><a href="/Pork-Bowl-Con/events.html">Events</a></li>
			<li><a href="/Pork-Bowl-Con/contact.html">Contact</a></li>
		</ul>
		<ul class="side-nav" id="mobile-menu">
			<li><a id="btn-register-online-mobile" class="btn waves-effect waves-light" href="/Pork-Bowl-Con/registration.html">Register Online</a></li>
			<li>
				<a class="dropdown-button" href="#" data-activates="info-dropdown-mobile">Info<i class="material-icons right">arrow_drop_down</i></a>
				<ul id="info-dropdown-mobile" class="dropdown-content">
					<li><a href="/Pork-Bowl-Con/about.html">About</a></li>
					<li><a href="/Pork-Bowl-Con/location.html">Location</a></li>
					<li><a href="/Pork-Bowl-Con/hotels.html">Hotels</a></li>
					<li><a href="/Pork-Bowl-Con/policies.html">Policies</a></li>
				</ul>
			</li>
			<li>
				<a class="dropdown-button" href="#" data-activates="guests-dropdown-mobile">Guests<i class="material-icons right">arrow_drop_down</i></a>
				<ul id="guests-dropdown-mobile" class="dropdown-content">
					<li><a href="/Pork-Bowl-Con/guests/chicken-cutlet.html">Chicken Cutlet</a></li>
					<li><a href="/Pork-Bowl-Con/guests/lettuce.html">Lettuce</a></li>
					<li><a href="/Pork-Bowl-Con/guests/soup-bowl.html">Soup Bowl</a></li>
				</ul>
			</li>
			<li><a href="/Pork-Bowl-Con/events.html">Events</a></li>
			<li><a href="/Pork-Bowl-Con/contact.html">Contact</a></li>
		</ul>
	</div>
</nav>