<header class="navbar-fixed hide-on-med-and-down">
	<nav id="main-nav">
		<div class="nav-wrapper">
			<ul class="left">
				<li><a class="btn-register-online btn waves-effect waves-light" href="/Pork-Bowl-Con/registration.html">Register Online</a></li>
				<li><a href="/Pork-Bowl-Con">Home</a></li>
				<li>
					<a class="dropdown-button" href="#" data-activates="info-dropdown-desktop">Info<i class="material-icons right">arrow_drop_down</i></a>
					<ul id="info-dropdown-desktop" class="dropdown-content">
						<li><a href="/Pork-Bowl-Con">About</a></li>
						<li><a href="/Pork-Bowl-Con">Location</a></li>
						<li><a href="/Pork-Bowl-Con">Hotels</a></li>
						<li><a href="/Pork-Bowl-Con">Policies</a></li>
					</ul>
				</li>
				<li>
					<a class="dropdown-button" href="#" data-activates="guests-dropdown-desktop">Guests<i class="material-icons right">arrow_drop_down</i></a>
					<ul id="guests-dropdown-desktop" class="dropdown-content">
						<li><a href="/Pork-Bowl-Con">Chicken Cutlet</a></li>
						<li><a href="/Pork-Bowl-Con">Lettuce</a></li>
						<li><a href="/Pork-Bowl-Con">Soup Bowl</a></li>
					</ul>
				</li>
				<li><a href="/Pork-Bowl-Con">Events</a></li>
				<li><a href="/Pork-Bowl-Con">Contact</a></li>
			</ul>
			<ul class="right">
				<li class="date-navigation">{{ site.con_date }}</li>
			</ul>
		</div>
	</nav>
</header>

<ul class="side-nav" id="mobile-menu">
	<li><a class="btn-register-online btn waves-effect waves-light" href="/Pork-Bowl-Con/registration.html">Register Online</a></li>
	<li><a href="/Pork-Bowl-Con">Home</a></li>
	<li>
		<a class="dropdown-button" href="#" data-activates="info-dropdown-mobile">Info<i class="material-icons right">arrow_drop_down</i></a>
		<ul id="info-dropdown-mobile" class="dropdown-content">
			<li><a href="/Pork-Bowl-Con">About</a></li>
			<li><a href="/Pork-Bowl-Con">Location</a></li>
			<li><a href="/Pork-Bowl-Con">Hotels</a></li>
			<li><a href="/Pork-Bowl-Con">Policies</a></li>
		</ul>
	</li>
	<li>
		<a class="dropdown-button" href="#" data-activates="guests-dropdown-mobile">Guests<i class="material-icons right">arrow_drop_down</i></a>
		<ul id="guests-dropdown-mobile" class="dropdown-content">
			<li><a href="/Pork-Bowl-Con">Chicken Cutlet</a></li>
			<li><a href="/Pork-Bowl-Con">Lettuce</a></li>
			<li><a href="/Pork-Bowl-Con">Soup Bowl</a></li>
		</ul>
	</li>
	<li><a href="/Pork-Bowl-Con">Events</a></li>
	<li><a href="/Pork-Bowl-Con">Contact</a></li>
</ul>

<div class="fixed-action-btn hide-on-large-only" style="bottom: 25px; right: 25px">
	<a id="mobile-menu-button" href="#" data-activates="mobile-menu" class="button-collapse btn-floating btn-large waves-effect waves-light z-depth-4"><i class="material-icons">menu</i></a>
</div>
